<!DOCTYPE html>
<html>
  <head>
    <title>Jwbillgenerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Biller</a>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <%= yield %>
      </div>

    </div><!-- /.container -->
  </body>
</html>
